.wrapper { 
    position: fixed;
    top: 0;
    z-index: 2;
    width: 30%;
    height: 100%;
    background-color: #2c2b47;
    transition: all 0.4s;
    opacity: 0;
    transform: translateX(-100%);
}

.wrapper-sidebar--avt {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
}

.close-icon {
    position: absolute;
    top: 2%;
    left: 14px;
    color: var(--white-color);
    font-size: 2rem;
}

.wrapper-sidebar--top {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #F9F9FB;
}

.wrapper-sidebar--bottom {
    margin-top: 10px;
}

.wrapper-sidebar--icon {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.sidebar-icon {
    color: white;
    margin-left: 14px;
    margin-right: 14px;
}

.sidebar-item {
    display: block;
    font-size: 1.4rem;
    color: white;
}

@media (max-width: 319px) {
    .sidebar-icon {
        font-size: 1.4rem;
        margin-left: 8px;
        margin-right: 8px;
    }
    .sidebar-item {
        font-size: 0.8rem;
    }
}

@media (min-width: 320px) and (max-width: 399px) {
    .sidebar-icon {
        margin-left: 12px;
        margin-right: 12px;
    }
    .sidebar-item {
        font-size: 1rem;
    }
}

@media (min-width: 400px) and (max-width: 739px) {
    .sidebar-icon {
        margin-left: 14px;
        margin-right: 14px;
    }
    .sidebar-item {
        font-size: 1rem;
    }
}

@media (min-width: 740px) {
    .wrapper {
        display: none;
    }
}