.burger-btn {
    display: none;
    padding: 0 0 0 10px;
    border: none;
    // background-color: transparent;
}

.burger-icon {
    font-size: 2rem;
    color:blueviolet;
}

@media (max-width: 319px) {
    .burger-btn {
        display: flex;
        margin-right: 10px;
    }
}

@media (min-width: 320px) and (max-width: 399px) {
    .burger-btn {
        display: flex;
        margin-right: 10px;

    }
}

@media (min-width: 400px) and (max-width: 739px) {
    .burger-btn {
        display: flex;
        margin-right: 20px;
        
    }
}