.wrapper-sidebar {
    background-color: #2c2b47;
    height: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper-sidebar--top {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #F9F9FB;
}

.wrapper-sidebar--bottom {
    height: 50%;
    text-align: center;
}

.wrapper-sidebar--icon {
    display: flex;
    align-items: center;
    padding: 10px 0;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.wrapper-sidebar--avt {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar-icon {
    font-size: 2rem;
    border-radius: 50%;
    padding: 4px 4px;
    color: white;
}

.sidebar-item {
    display: block;
    font-size: 1.2rem;
    color: white;
}

.tippy {
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: black;
    border-radius: 4px;
    transition: all 0.4s;
}

.tippy-item {
    display: block;
    line-height: 3rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white-color);
}

@media (max-width: 319px) {
    .wrapper-sidebar {
        display: none !important;
    }
}

@media (min-width: 320px) and (max-width: 399px) {
    .wrapper-sidebar {
        display: none !important;
    }
}

@media (min-width: 400px) and (max-width: 739px) {
    .wrapper-sidebar {
        display: none !important;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .sidebar-icon {
        font-size: 1rem;
    }

    .sidebar-item {
        font-size: 1rem;
    }
}