.wrapper {
    // width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    transition: all 0.2s;
    
    &:hover {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transform: translateY(-1px);
    }
}

.active {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.saved {
    color: red;
}

.wrapper-right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.wrapper-track--infor {
    width: 70%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.wrapper-track--index {
    display: block;
    width: 12px;
    padding-left: 10px;
}

.wrapper-track--infor-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 20px;
}

.wrapper-track-infor--main {
    width: 77%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    -webkit-transition: 3.3s;
    -moz-transition: 3.3s;
    transition: 3.3s;     
    
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    transition-timing-function: linear;
}

.wrapper-track--name {
    width: 400px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;

    
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    // transition: 1s;     
    transition: all 0.2s;
    
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    transition-timing-function: linear;

    &:hover {
        color: var(--main-color);
        filter: brightness(1.75);
    }
}

.wrapper-artists {
    display: flex;
    align-items: center;
}

.wrapper-track--artist-link {
    color: var(--main-color);

    margin-right: 10px;
    text-decoration: none;
    display: block;
}

.wrapper-track--artist {
    font-size: 1.2rem;

    &:hover {
        filter: brightness(1.75);
    }
}

.webkit-scroll {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    transition: 1s;     
    
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    transition-timing-function: linear;
}

.wrapper-track-heart {
    padding-right: 10px;
}

@media (max-width: 319px) {
    .wrapper-music--list-tracks {
        padding: 0;
    }

    .wrapper-track--index {
        display: none;
    }

    .wrapper-track--infor {
        margin-left: 10px;
    }

    .wrapper-track--infor-img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }

    .wrapper-track--name {
        width: 160px;
        font-size: 1rem;
    }

    .wrapper-track--artist {
        font-size: .8rem;
    }

    .wrapper-track--artist-link {
        white-space: nowrap;
        margin-right: 4px;
    }

    .wrapper-track--artist {
        font-size: 1rem;
    }

    .wrapper-duration {
        font-size: .8rem;
    }
}

@media (min-width: 320px) and (max-width: 399px) {
    .wrapper-music--list-tracks {
        padding: 0;
    }

    .wrapper-track--index {
        display: none;
    }

    .wrapper-track--infor {
        margin-left: 15px;
    }

    .wrapper-track-infor--main {
        width: 100%;
    }

    .wrapper-track--infor-img {
        width: 30px;
        height: 30px;
        margin-right: 15px;
    }

    .wrapper-track--name {
        width: 200px;
        font-size: 1rem;
    }

    .wrapper-track--artist-link {
        white-space: nowrap;
        margin-right: 4px;
    }

    .wrapper-track--artist {
        font-size: 1rem;
    }

    .wrapper-duration {
        font-size: 1rem;
    }
}

@media (min-width: 400px) and (max-width: 739px) {
    .wrapper-right {
        width: 95%;
    }

    .wrapper-track--index {
        font-size: 1.2rem;
    }

    .wrapper-track--infor {
        margin-left: 10px;
    }

    .wrapper-track-infor--main {
        width: 100%;
    }

    .wrapper-track--infor-img {
        width: 35px;
        height: 35px;
        margin-right: 15px;
    }

    .wrapper-track--name {
        width: 200px;
        font-size: 1.2rem;
    }

    .wrapper-duration {
        font-size: 1.2rem;
    }

    .wrapper-track--artist-link {
        white-space: nowrap;
        margin-right: 6px;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .wrapper-track--name {
        width: 250px;
        font-size: 1.2rem;
    }
}