.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 10px;
}

@media (min-width: 740px) and (max-width: 1023px) {
    .wrapper {
        margin-right: 0px;
    }
}