.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3B3C60;
    overflow: hidden;
}

.wrapper-player {
    display: none;
    position: absolute;
    top: -6%;
    left: -42%;
    width: 30%;
    height: 100vh;
    overflow: hidden;
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.tippy {
    width: 0;
    height: 0;
    padding: 0;
    border: none;
}

@keyframes appear {
    from {
        width: 0px;
        opacity: 0;     
        margin-left: 40%;
    }
    to {
        margin-left: 0;
        width: 400px;
        opacity: 1;   
        transform: translateX(-30px);
    }
}

@keyframes hidden {
    from {
        width: 400px;
        opacity: 1;     
        margin-left: 0;
    }
    to {
        margin-left: 40%;
        width: 0px;
        opacity: 0   
    }
}

.wrapper-sidebar {
    background-color: #2c2b47;
    height: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper-sidebar--top {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #F9F9FB;
}

.wrapper-sidebar--bottom {
    height: 50%;
    text-align: center;
}

.wrapper-sidebar--icon {
    height: 40px;
    margin: 10px 0;
}

.sidebar-icon {
    font-size: 2rem;
    border-radius: 50%;
    padding: 4px 4px;
    color: white;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.wrapper-main {
    position: relative;
    width: 98%;
    height: 98%;
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    // overflow: hidden;
    transition: transform 0.4s;
}

.wrapper-main--header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 14px;
}

.header {
    display: block;
    width: 140px;
    font-size: 2.6rem;
}

.wrapper-main--header-search {
    width: 500px;
    height: 36px;
    margin-right: 20px;
    transition: all 1s;
}

.wrapper-main-body {
    height: 92%;
}

.wrapper-main-body--left {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-main-body--right {
    height: 620px;  
}

.main-body--right-header {
    margin: 10px 0;
}

.main-body--right-category {
    height: 64%;
    margin-right: 10px;
    overflow-y: auto;
}

.slide-wrapper {
    width: 100%;
    height: 46%;
    display: flex;
    justify-content: center;
}

.slide {
    width: 67%;
    overflow: hidden;
}

.wrapper-music--list {
    width: 100%;
    height: 54%;
    overflow-y: auto;
    overflow-x: hidden;
    // overflow: hidden;
}

.wrapper-music--list-header {
    width: 100%;
    display: block;
    margin: 16px 0 16px 14px;
    font-size: 2.6rem;
}

.wrapper-music--list-tracks {
    // max-height: 268px;
    padding-left: 14px;
    // overflow-y: auto;
}

@media (min-width: 560px) and (max-width: 739px)  {
    .wrapper-main {
        width: 100%;
        height: 100%;
    }

    .wrapper-main-body {
        display: flex !important;
        flex-direction: column;
    }
}

@media (max-width: 319px) {
    .wrapper-main {
        height: 100%;
    }

    .wrapper-sidebar {
        display: none !important;
    }

    .header {
        display: none;
    } 

    .slide-wrapper {
        height: 22%;
    }

    .wrapper-music--list {
        height: 78%;
    }

    .wrapper-music--list-header {
        font-size: 1.8rem;
    }

    .wrapper-music--list-tracks {
        padding-left: 0;
    }

    .wrapper-player {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 399px) {
    .wrapper-main {
        height: 100%;
    }

    .wrapper-sidebar {
        display: none !important;
    }

    .wrapper-main--header {
        justify-content: center;
        padding-left: 0;
    }

    .header {
        display: none;
    } 

    .wrapper-main--header-search {
        margin-right: 0;
    }

    .slide-wrapper {
        height: 24%;
    }

    .wrapper-music--list {
        height: 76%;
    }

    .wrapper-music--list-header {
        font-size: 1.8rem;
    }

    .wrapper-music--list-tracks {
        max-height: 450px;
        padding-left: 0;
    }

    .wrapper-player {
        display: none;
    }
}

@media (min-width: 400px) and (max-width: 739px) {
    .wrapper-main {
        height: 100%;
    }

    .wrapper-sidebar {
        display: none !important;
    }

    .wrapper-main--header {
        height: 60px;
        justify-content: center;
        padding-left: 0;
    }
    
    .header {
        display: none;
    } 
    
    .wrapper-main--header-search {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 0;
    }
    
    .wrapper-music--list-header {
        font-size: 1.8rem;
    }

    .slide-wrapper {
        height: 27%;
    }

    .wrapper-music--list {
        height: 67%;
    }

    .wrapper-music--list-tracks {
        max-height: 590px;
        width: 100%;
        padding-left: 0px;
    }  

    .wrapper-player {
        display: none;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .header,
    .wrapper-music--list-header {
        font-size: 2rem;
    }

    .wrapper-main--header-search {
        height: 30px;
    }

    .wrapper-music--list-tracks {
        max-height: 450px;
    }

    .wrapper-player {
        display: none;
    }

    .slide-wrapper {
        height: 17%;
    }

    .wrapper-music--list {
        height: 80%;
    }
}