.wrapper {
    height: 100%;
    overflow: hidden;
}

.wrapper-main {
    position: relative;
    width: 98%;
    height: 100%;
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    transition: transform 0.4s;
}

.wrapper-main--header {
    // height: 8%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 14px;
}

.header {
    display: block;
    width: 200px;
    font-size: 2rem;
}

.wrapper-player {
    display: none;
    position: absolute;
    top: -6%;
    left: -42%;
    width: 30%;
    height: 100vh;
    overflow: hidden;
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.wrapper-main--header-search {
    width: 500px;
    height: 36px;
    margin-right: 20px;
    transition: all 1s;
}

.wrapper-main-body {
    height: 92%;
}

.wrapper-main-body--left {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-main-body--right {
    // height: 100%;   
}

.wrapper-main-body--right--heading {
    display: flex;
    align-items: center;
}

.wrapper-main-body--right-header {
    display: flex;
    align-items: center;
}

.expand {
    display: block;
    text-decoration: none;
    color: #3c3abe;
    transition: all 0.2s;
    margin-left: 24px;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.main-body--right-header {
    margin: 10px 0;
    width: 70%;
    margin-left: 10px;
    
}

.main-body--right-category {
    max-height: 286px;
    margin: 0 5px;
    overflow: hidden;
}

.wrapper-music--list {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapper-music--list-header {
    width: 100%;
    display: block;
    margin: 16px 0 16px 14px;
    font-size: 2.6rem;
}

.wrapper-music--list-tracks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 18px;
    overflow-y: auto;
}

@keyframes appear {
    from {
        width: 0px;
        opacity: 0;     
        margin-left: 40%;
    }
    to {
        margin-left: 0;
        width: 400px;
        opacity: 1;   
        transform: translateX(-30px);
    }
}

@keyframes hidden {
    from {
        width: 400px;
        opacity: 1;     
        margin-left: 0;
    }
    to {
        margin-left: 40%;
        width: 0px;
        opacity: 0   
    }
}

@media (max-width: 319px) {
    .wrapper-sidebar {
        display: none !important;
    }

    .header {
        display: none;
    } 

    .wrapper-music--list-header {
        font-size: 1.8rem;
    }

    .wrapper-music--list-tracks {
        padding-left: 0;
        margin-right: 0;
    }

    .wrapper-player {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 399px) {
    .wrapper-sidebar {
        display: none !important;
    }

    .wrapper-main--header {
        justify-content: center;
        padding-left: 0;
    }

    .header {
        display: none;
    } 

    .wrapper-main--header-search {
        margin-right: 0;
    }

    .wrapper-music--list-header {
        font-size: 1.8rem;
    }

    .wrapper-music--list-tracks {
        padding-left: 0;
        margin-right: 0px;
    }

    .wrapper-player {
        display: none;
    }
}

@media (min-width: 400px) and (max-width: 739px) {
    .wrapper-sidebar {
        display: none !important;
    }

    .wrapper-main--header {
        height: 60px;
        justify-content: center;
        padding-left: 0;
    }
    
    .header {
        display: none;
    } 
    
    .wrapper-main--header-search {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 0;
    }
    
    .wrapper-music--list-header {
        font-size: 1.8rem;
    }

    .wrapper-music--list {
        height: 100%;
    }

    .wrapper-music--list-tracks {
        justify-content: center;
        width: 100%;
        padding-left: 0px;
    }  

    .wrapper-player {
        display: none;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .header,
    .wrapper-music--list-header {
        font-size: 2rem;
    }

    .wrapper-main--header-search {
        height: 30px;
    }

    .wrapper-music--list {
        height: 100%;
        padding-left: 4px;
    }

    .wrapper-music--list-tracks {
        height: 99%;
        justify-content: center;
        margin-right: 6px;
    }

    .wrapper-player {
        display: none;
    }

    .main-body--right-category {
        // height: 37%;
        max-height: 330px;
    }

    .expand {
        margin-left: 0;
        font-size: 1.2rem;
    }
}