.wrapper {
    width: 180px;
    height: 265px;
    overflow: hidden;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.wrapper-contain {
    position: relative;
    width: 90%;
    height: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: #121838;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.wrapper-image {
    width: 90%;
    height: 80%;
    object-fit: cover;
    border-radius: 4px;
}

.wrapper-text {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 8px;
}

.text {
    width: 120px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 100%;
    overflow: hidden;
    color: var(--white-color);
}

.wrapper-icon {
    position: absolute;
    bottom: 0;
    right: 10%;
    background-color: var(--white-color);
    font-size: 3rem;
    margin: 0 10px;
    padding: 12px 12px;
    border-radius: 50%;
    transition: all 0.4s;
    transform: translateY(60px);
    opacity: 0;
}

.wrapper:hover .wrapper-icon {
    opacity: 1;
    transform: translateY(-40px);
}

@media (max-width: 319px) {
    .wrapper {
        width: 100px;
        height: 140px;
    }

    .wrapper-text {
        height: 14px;
    }

    .text {
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 0.8rem;
        width: 90px;
    }

    .wrapper-icon {
        bottom: -10%;
        right: 6%;
        font-size: 2rem;
        margin: 0 10px;
        padding: 10px 10px;
    }
}

@media (min-width: 320px) and (max-width: 399px) {
    .wrapper {
        width: 120px;
        height: 170px;
    }

    .wrapper-text {
        height: 14px;
    }

    .text {
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 0.8rem;
        width: 90px;
    }

    .wrapper-icon {
        bottom: -10%;
        right: 6%;
        font-size: 2rem;
        margin: 0 10px;
        padding: 10px 10px;
    }
}

@media (min-width: 400px) and (max-width: 739px) {
    .wrapper {
        width: 130px;
        height: 140px;
    }

    .wrapper-text {
        height: 14px;
    }

    .text {
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 0.8rem;
        width: 90px;
    }

    .wrapper-icon {
        bottom: -10%;
        right: 6%;
        font-size: 2rem;
        margin: 0 10px;
        padding: 10px 10px;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .wrapper {
        width: 100px;
        height: 140px;
    }

    .wrapper-text {
        height: 16px;
    }

    .text {
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 0.8rem;
        width: 90px;
    }

    .wrapper-icon {
        bottom: 0;
        right: 6%;
        font-size: 2rem;
        margin: 0 10px;
        padding: 5px 5px;
    }
}