.wrapper {
    height: 100%;
    overflow: hidden;
}

.wrapper-main {
    position: relative;
    width: 98%;
    height: 100%;
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    transition: transform 0.4s;
}

.wrapper-main--header {
    height: 300px;
    background-position: center;
    background-size: cover;
    display: flex;
    padding-top: 12px;
    justify-content: space-between;
    padding-left: 14px;
}

.header {
    display: block;
    width: 200px;
    font-size: 2rem;
}

.wrapper-player {
    display: none;
    position: absolute;
    top: -6%;
    left: -42%;
    width: 30%;
    height: 100vh;
    overflow: hidden;
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.wrapper-main--header-search {
    width: 500px;
    height: 36px;
    margin-right: 20px;
    transition: all 1s;
}

.wrapper-main-body {
    height: 92%;
}

.wrapper-main-body--left {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-main-body--right {
    height: 100%;   
}

.main-body--right-header {
    margin: 10px 0;
    margin-left: 12px;
}

.main-body--right-category {
    height: 100%;
}

.wrapper-music--list {
    width: 100%;
    height: 99%;
    overflow: hidden;
}

.wrapper-music--list-header {
    width: 100%;
    display: block;
    margin: 16px 0 16px 14px;
    font-size: 2.6rem;
}

.wrapper-music--list-tracks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 18px;
    overflow-y: auto;
}

@keyframes appear {
    from {
        width: 0px;
        opacity: 0;     
        margin-left: 40%;
    }
    to {
        margin-left: 0;
        width: 400px;
        opacity: 1;   
        transform: translateX(-30px);
    }
}

@keyframes hidden {
    from {
        width: 400px;
        opacity: 1;     
        margin-left: 0;
    }
    to {
        margin-left: 40%;
        width: 0px;
        opacity: 0   
    }
}

.artist-infor {
    background-size: cover;
    background-position: center;
    padding: 0 32px 24px 32px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.span {
    display: block;
    color: var(--white-color);
    visibility: visible;
    width: 100%;
}

.artist-infor--name {
    font-size: 6rem;
    font-weight: 600;
}

.artist-infor--fame {
    font-size: 3rem;
}

.divided {
    display: flex;
    // overflow-y: auto;
    height: 100%;
}

.list--container {
    height: 520px;
}

.wrapper-list {
    width: 50%;
    height: 53%;
    overflow-y: auto;
}

.wrapper-list--album-header {
    display: none;
}


.wrapper-list--album {
    width: 50%;
    height: 53%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    // padding: 0 10px;
}


// @media (min-width: 560px) and (max-width: 739px)  {
//     .wrapper-main {
//         width: 100%;
//         height: 100%;
//     }

//     .wrapper-main-body {
//         display: flex !important;
//         flex-direction: column;
//     }
// }

@media (max-width: 319px) {
    .wrapper {
        height: unset;
    }

    .wrapper-main {
        height: 100%;
    }

    .wrapper-sidebar {
        display: none !important;
    }

    .wrapper-main--header {
        height: 170px;
        justify-content: center;
        padding-left: 0;
    }
    
    .header {
        display: none;
    } 
    
    .artist-infor {
        display: none;
    }

    .wrapper-main--header-search {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 0;
    }
    
    .wrapper-music--list-header {
        font-size: 1.8rem;
    }

    .main-body--right-header {
        font-size: 1.2rem;
    }

    .wrapper-music--list {
        height: 99%;
    }

    .wrapper-music--list-tracks {
        justify-content: center;
        width: 100%;
        padding-left: 0px;
    }  

    .wrapper-player {
        display: none;
    }

    .divided {
        flex-direction: column;
    }

    .wrapper-list {
        width: 100%;
        height: 75%;
    }

    .wrapper-list--album-header {
        display: block;
        margin: 0px 0 12px 12px;
        font-size: 1.2rem;
    }

    .wrapper-list--album {
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 399px) {
    .wrapper {
        height: unset;
    }

    .wrapper-main {
        height: 100%;
    }

    .wrapper-sidebar {
        display: none !important;
    }

    .wrapper-main--header {
        height: 170px;
        justify-content: center;
        padding-left: 0;
    }
    
    .header {
        display: none;
    } 
    
    .artist-infor {
        display: none;
    }

    .wrapper-main--header-search {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 0;
    }
    
    .wrapper-music--list-header {
        font-size: 1.8rem;
    }

    .wrapper-music--list {
        height: 99%;
    }

    .main-body--right-header {
        font-size: 1.4rem;
    }

    .wrapper-music--list-tracks {
        justify-content: center;
        width: 100%;
        padding-left: 0px;
    }  

    .wrapper-player {
        display: none;
    }

    .divided {
        flex-direction: column;
    }

    .wrapper-list {
        width: 100%;
        height: 75%;
    }

    .wrapper-list--album-header {
        display: block;
        margin: 0px 0 12px 12px;
        font-size: 1.4rem;
    }

    .wrapper-list--album {
        width: 100%;
    }
}

@media (min-width: 400px) and (max-width: 739px) {
    .wrapper {
        height: unset;
    }

    .wrapper-main {
        height: 100%;
    }

    .wrapper-sidebar {
        display: none !important;
    }

    .wrapper-main--header {
        height: 170px;
        justify-content: center;
        padding-left: 0;
    }
    
    .header {
        display: none;
    } 
    
    .artist-infor {
        display: none;
    }

    .wrapper-main--header-search {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 0;
    }
    
    .wrapper-music--list-header {
        font-size: 1.8rem;
    }

    .wrapper-music--list {
        height: 99%;
    }

    .wrapper-music--list-tracks {
        justify-content: center;
        width: 100%;
        padding-left: 0px;
    }  

    .main-body--right-header {
        font-size: 1.6rem;
    }

    .wrapper-player {
        display: none;
    }

    .divided {
        flex-direction: column;
    }

    .wrapper-list {
        width: 100%;
        height: 75%;
    }

    .wrapper-list--album-header {
        display: block;
        margin: 0px 0 12px 12px;
        font-size: 1.6rem;
    }

    .wrapper-list--album {
        width: 100%;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .header,
    .wrapper-music--list-header {
        font-size: 2rem;
    }

    .wrapper-main--header-search {
        height: 30px;
    }

    .wrapper-music--list-tracks {
        height: 99%;
        justify-content: center;
        margin-right: 6px;
    }

    .wrapper-player {
        display: none;
    }
}