.wrapper {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    background-color: #121838;
    transition: all 0.4s;
}

.visible {
    display: flex;
}

.hide {
    display: none;
}

.wrapper-track {
    width: 25%;
    display: flex;
    align-items: center;
    margin: 0 12px;
}

.wrapper-track--img {
    width: 20%;
    height: 100%;
    object-fit: cover;
}

.wrapper-track--infor {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 0px 0 12px;
    overflow: hidden;
}

.wrapper-track--infor-name {
    font-size: 1.6rem;
    color: var(--white-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrapper-track--infor-artist {
    font-size: 1.4rem;
    color: var(--white-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrapper-track--infor-heart {
    font-size: 2rem;
    color: var(--white-color);
}

.wrapper-control {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.random-icon {
    background-color: var(--white-color);
    font-size: 2rem;
    background-color: transparent;
    color: var(--white-color);
    border-radius: 50%;
    transition: all 0.4s;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.player-control--center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
}

.control-icon {
    background-color: var(--white-color);
    font-size: 2rem;
    margin: 0 10px;
    padding: 14px 14px;
    border-radius: 50%;
    transition: all 0.4s;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.control-icon-small {
    background-color: var(--white-color);
    font-size: 2rem;
    margin: 0 10px;
    background-color: transparent;
    color: var(--white-color);
    border-radius: 50%;
    transition: all 0.2s;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.clicked-button {
    background-color: var(--white-color);
    font-size: 2rem;
    background-color: transparent;
    color: #3B3C60;;
    border-radius: 50%;
    filter: brightness(200%);
    cursor: pointer;
}

.wrapper-feature {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (min-width: 320px) and (max-width: 399px)  {
    .wrapper-track--infor-name {
        font-size: 1.2rem;
    }

    .wrapper-track--infor-artist {
        font-size: 1rem;
    }

    .player-control--center {
        margin: 0 10px;
    }

    .control-icon {
        font-size: 1.2rem;
        padding: 8px 8px;
    }

    .control-icon-small {
        font-size: 1.4rem;
        margin: 0 8px;
    }

    .random-icon {
        font-size: 1.2rem;
    }
    
    .wrapper-track--infor-heart {
        font-size: 1.6rem;
    }
}

@media (min-width: 400px) and (max-width: 739px) {
    .wrapper-track--infor-name {
        font-size: 1.4rem;
    }

    .wrapper-track--infor-artist {
        font-size: 1.2rem;
    }

    .player-control--center {
        margin: 0 10px;
    }

    .control-icon {
        font-size: 1.6rem;
        padding: 8px 8px;
    }

    .control-icon-small {
        font-size: 1.6rem;
        margin: 0 10px;
    }

    .random-icon {
        font-size: 1.4rem;
    }
}

@media (max-width: 1480px) {
    .wrapper {
        opacity: 1;
    }
}

@media (min-width: 1481px) {
    .wrapper {
        opacity: 0;
    }
}