.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3B3C60;
    overflow: hidden;
}

.wrapper-main {
    position: relative;
    width: 98%;
    height: 100%;
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    // overflow: hidden;
    transition: transform 0.4s;
}

.header {
    display: block;
    width: 140px;
    font-size: 2rem;
}


.wrapper-main--header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 14px;
}

.wrapper-main--header-search {
    width: 500px;
    height: 36px;
    margin-right: 20px;
    transition: all 1s;
}

.wrapper-main-body {
    height: 76%;
}

.wrapper-main-body-list {
    height: 100%;
    overflow-y: auto;
}


.list-header {
    margin-left: 14px;
    font-size: 1.6rem;
    font-weight: 600;
}

.wrapper-background {
    height: 40px;
    display: flex;
    margin-left: 10px;
}


@media (max-width: 319px) {
    .wrapper-main {
        height: 100%;
    }

    .wrapper-sidebar {
        display: none !important;
    }

    .wrapper-main--header {
        justify-content: center;
        padding-left: 0;
    }

    .wrapper-main--header-search {
        width: 70%;
        margin-left: 20px;
    }

    .header {
        display: none;
    } 

    .burger-btn {
        display: block;
    }

    .list-header {
        font-size: 1.4rem;
    }
}

@media (min-width: 320px) and (max-width: 399px) {
    .wrapper-main {
        height: 100%;
    }

    .wrapper-sidebar {
        display: none !important;
    }

    .wrapper-main--header {
        justify-content: center;
        padding-left: 0;
    }

    .burger-btn {
        display: block;
    }

    .header {
        display: none;
    } 

    .wrapper-main--header-search {
        width: 70%;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .list-header {
        font-size: 1.4rem;
    }
}

@media (min-width: 400px) and (max-width: 739px) {
    .wrapper-main {
        height: 100%;
    }

    .wrapper-sidebar {
        display: none !important;
    }

    .wrapper-main--header {
        height: 60px;
        justify-content: center;
        padding-left: 0;
    }
    
    .burger-btn {
        display: block;
    }

    .header {
        display: none;
    } 
    
    .wrapper-main--header-search {
        width: 80%;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    
    .wrapper-music--list-header {
        font-size: 1.6rem;
    }

    .wrapper-music--list {
        height: 50%;
    }

    .wrapper-music--list-tracks {
        max-height: 590px;
        width: 100%;
        padding-left: 0px;
    }  

    .expand {
        font-size: 1rem;
    }

    .list-header {
        font-size: 1.4rem;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .wrapper-main {
        height: 100%;
    }

    .header {
        font-size: 1.8rem;
    }

    .wrapper-main--header-search {
        height: 30px;
    }

    .wrapper-music--list {
        height: 72%;
    }

    .main-body--right-category {
        max-height: 330px;
    }

    .expand {
        font-size: 1rem;
    }
}