.wrapper {
    width: 100%;
    height: 40px;
    overflow: hidden;
    transition: all 0.4s;
    display: flex;
    align-items: center;
    text-decoration: none;
    
    &:hover {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transform: translateY(-1px);
    }
}

.wrapper-image {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper-infor {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.wrapper-infor--name {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--black-color);
}

.wrapper-infor--fame {
    display: block;
    font-size: 1.2rem;
    color: var(--black-color);
}

@media (max-width: 319px)  {
}

@media (min-width: 320px) and (max-width: 399px)  {
}

@media (min-width: 400px) and (max-width: 739px)  {

}

@media (min-width: 740px) and (max-width: 1023px)  {
}