.wrapper {
    width: 100%;
    height: 90%;
    background-color: #121838;
    border-radius: var(--border-radius);
}

.wrapper-header {
    height: 20%;
}

.wrapper-main {
    display: flex;
    height: 80%;
    flex-direction: column;
    align-items: center;
}

.wrapper-main-image {
    width: 50%;
    height: 50%;
}

.track-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper-main-infor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.track-name {
    display: block;
    width: 350px;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: var(--white-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        color: #3B3C60;
        filter: brightness(2);
    }
}

.track-artist {
    font-size: 1.4rem;
    color: var(--white-color);
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;

    &:hover {
        color: #3B3C60;
        filter: brightness(2);
    }
}

.wrapper-main-control {
    width: 100%;
    height: 34%;
}

.player-control {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.random-icon {
    background-color: var(--white-color);
    font-size: 2rem;
    background-color: transparent;
    color: var(--white-color);
    border-radius: 50%;
    transition: all 0.4s;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.player-control--center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
}

.control-icon {
    background-color: var(--white-color);
    font-size: 2rem;
    margin: 0 10px;
    padding: 14px 14px;
    border-radius: 50%;
    transition: all 0.4s;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.control-icon-small {
    background-color: var(--white-color);
    font-size: 2rem;
    margin: 0 10px;
    background-color: transparent;
    color: var(--white-color);
    border-radius: 50%;
    transition: all 0.2s;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.clicked-button {
    background-color: var(--white-color);
    font-size: 2rem;
    background-color: transparent;
    color: #3B3C60;;
    border-radius: 50%;
    filter: brightness(200%);
    cursor: pointer;
}

.player-seekbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
}

.progress {
    width: 70%;
    height: 100%;
}

.wrapper-header--text {
    height: 20%;
    margin: 0 0 0 10px;
    display: flex;
    align-items: center;
    color: var(--white-color);
}

.wrapper-header-body {
    height: 80%;
}

@media (min-width: 319px) and (max-width: 1479){
    .wrapper {
        display: none;
    }
}